@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: f, f, f;
  --color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 0, 0, 0;
    --color: f, f, f;
  }
}

body {
  color: var(--color) ;
  background-color: var(--background-color)
}
